{% extends 'main.html' %}

{% block content %}
<div class="team_main" style="text-align:center">

    <h3>{{team.name}} </h3>
<img src="{{team.logo.url }}" alt="" height="200px">
    <h5>Country:  {{team.country}}</h5>
    <hr>

{% for match in matches %}
   <ul>{{match.team_home.name }} <img src="{{ match.team_home.logo.url }}" alt="" height="30px"> -
        {{match.team_away.name }} <img src="{{ match.team_away.logo.url }}" alt="" height="30px">
   </ul>
{% endfor %}


    <a href="{% url 'team_update' team.slug %}"> Update</a>

</div>

{% for team in recently_viewed_products %}
    {{ team.name }}
<img src="{{ team.logo.url }}" alt="" height="30px">

{% endfor %}

{% endblock %}